@import url('https://fonts.googleapis.com/css?family=Kode%20Mono:700|Kode%20Mono:400');

:root {
    --text: 230, 231, 252;
    --background: 3, 5, 32;
    --primary: 134, 149, 242;
    --secondary: 159, 17, 116;
    --accent: 231, 32, 72;
}


body {
    font-family: 'Kode Mono', sans-serif;
    font-weight: 400;
    background-color: rgb(var(--background));
    color: rgb(var(--text));
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Kode Mono', sans-serif;
    font-weight: 700;
    color: rgb(var(--text));
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

.sidebar {
    display: flex;
    flex-direction: row;
    height: 90vh;
    max-height: 90vh;
    top: 5vh;
    left: -2em;
    padding-left: 2em;
    background: rgb(var(--background), .8);
    border: 1px solid rgb(var(--secondary));
    box-shadow: 0 0 2em rgb(var(--secondary));
    border-radius: 2em;
    position: absolute;
    backdrop-filter: blur(1em);
    overflow-x: hidden;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    max-width: 24em;
    height: 100%;

    button, input, select {
        color: rgb(var(--background));
        background: rgb(var(--primary));
        border: none;
        border-radius: 1em;
        box-shadow: 0 0 1em rgb(var(--primary));
        padding: .7em;
        margin: .7em;
    }
    button:hover, input:hover, select:hover {
        box-shadow: 0 0 2em rgb(var(--accent));
    }
}

.sidebar-collapse {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 100%;
}
.sidebar-collapse:hover {
    background: linear-gradient(to left, rgb(var(--accent), .4), rgb(var(--accent), 0));
}

.playback-settings {
    padding: 1em;
}

.other-settings {
    padding: 1em;
    overflow-y: auto;

    .settings-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

canvas {
    display: block;
}

#loadingBarContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#loadingBar {
    width: 300px;
    height: 10px;
    background-color: #f3f3f3;
    margin-bottom: 5px;
}

#loadingBarProgress {
    height: 100%;
    width: 0;
    background-color: #4caf50;
}

#audioCanvas {
    width: 100vw;
    height: 100vh;
}
